/* Personal photo part */
.personal-image
{
    border-radius: 50%;
}

/* social media part */
.social-media ul
{
    list-style: none;
    padding: unset;
}

.social-media ul li
{
    display: inline-flex;
    height: 100px;
    width: 100px;
    background-color: #ece5de;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/* My skills part */
.my-skills h2
{
    background-color: #dbccc9;
    width: fit-content;
    padding: 10px;
}

.my-skills ol
{
    list-style-position: inside;
    padding: unset;
    font-family: monospace;
    font-size: 16px;
    line-height: 29px;
}

.my-skills ol li:hover
{
    color: rebeccapurple;
    cursor: pointer;
}